{% extends 'merchants/base.html' %}

{% block title %}
Merchant - Events
{% endblock %}

{% block main %}
<div>
    <a href="{% url 'merchantEvents' %}" ><button style="width: 10%; height: 20%; margin: 10px 2px 10px 90%; " type="submit">Create event</button></a>
</div>

{% load static %}
<div class="event_container">
    {% for code in event_values %}
    <div style="background-color: aquamarine; width: 10%; padding: 20px;">
    {{code.code}}<br>
    {{code.store_owner}}
    </div><br>
    {% endfor %}
</div>

{% endblock %}

<!-- {% for i in codes %}
      {{i}}
    {% endfor %} -->
    