<!doctype html>
{% extends 'merchants/forms.html' %}

{% block title %}
Login
{% endblock %}
{% block body %}
<body style="background-color: black;">
    <div class="card text-center" style="width: 350px;height: 436px; margin-left: 40%;margin-top: 7%;">
        <div class="card-body">
          <h4>Login</h4>
          <div style="padding: 30% 10% 10% 10%;">
              {{form}}
          </div>
          <a href="#" class="btn btn-primary form-control col-md-8 col-lg-8" >Login</a>
        </div>
      </div>
</body>
{% endblock %}