{% extends 'merchants/forms.html' %}

  {% block title %}
    QR code
  {% endblock %}

  <!-- background image -->
  {% block css %}
  {% load static %}
  {% endblock %}

{%block body %}
<div id="bgimg">

    <div class="card text-center btn-outline-secondary form-control-lg" style="width: 350px;height: 436px; margin-left: 40%;margin-top: 7%;">
        <div class="card-body">
          <h4>QR Code</h4>
          <div style="padding: 10% 10% 10% 10%;">
              {{formQR}}
          </div>
          <a href="#" class="btn btn-primary form-control" style="width: 50%;" >Generate</a>
        </div>
      </div>
    
    </div>
{% endblock %}
</html>