{% extends 'merchants/forms.html' %}

  {% block title %}
    Scrach Form
  {% endblock %}

  {% load static %}
  
  {% block css %}
  <link rel="stylesheet" type="text/css" href="{% static 'merchants/scratch_form.css' %}">
  {% endblock %}


{%block main %}
<div class="bgimg">
    <form action="{% url 'merchantScratch' %}", method="POST">
      {% csrf_token %}
    <div class="card text-center btn-outline-dark form-control-lg" style="width: 350px;height: 436px;">
        <div class="card-body">
          <h4>Scrach Card</h4>
          <div style="padding: 10% 10% 10% 10%;">
              {{formscratch}}
          </div>
          <a href="#" class="btn btn-primary form-control" style="width: 50%;" >Generate</a>
        </div>
      </div>
    </form>
</div>
{% endblock %}
</html>