{% extends 'users/forms.html' %}

{% block main %}

      <div style="display: flex;justify-content: center;align-items: center;background-color: black;height: 100vh;">
        <div class="card text-center" style="width: 350px;height: 436px;">
            <div class="card-body" style="margin:10% auto 10% auto; ">
              <h4>Login</h4>
              <div class="mdc-chip" role="row" style="margin-top: 10%;">
                <div class="mdc-chip__ripple"></div>
                <span role="gridcell">
                  <span role="button" tabindex="-1" class="mdc-chip__primary-action">
                    <a href="{% url 'merchantLogin' %}" style="text-decoration: none;color: grey;">
                        <span class="mdc-chip__text">Login as merchant</span>
                    </a>
                    </span>
                </span>
              </div>
              <form action="{% url 'userLogin' %}" method="POST">
              {% csrf_token %}
              <div style="margin-top:20%">
                  {{form}}
              </div>
              <input type="submit" value="login" class="btn btn-primary form-control col-md-8 col-lg-8" style="margin-top: 10%;">
            </form>
            </div>
        </div>
    </div>

{% endblock %}
